<h1><%= @movie.title %></h1 >

<ul>
  <li>Description: <%= @movie.description %></li>
  <li>Rating: <%= @movie.rating %></li>
  <li>Epicness: This movie is <%= @movie.epicness %>.</li>
  <li>Category: <%= @movie.category.title %></li>
</ul>

<%= link_to "Edit movie", edit_movie_path(@movie), class: "button" %>